




<h1 align= "center">Band List:</h1>


<p><i>Add Bands:</i></p>

<form action="/bands" method="post">
  <label for="name">Name:</label>
  <input id="name" name="name" type="text">

  <button type="submit" class="btn btn-success">Add Band</button>
</form>

<ul>
<% if @bands.any?() %>
  <% @bands.each() do |band| %>
  <li><a href="/bands<%= band.id %>"><%= band.name() %></a></li>
  <% end %>
<% end %>
</ul>

<!-- for testing -->
<br>
<a href="/venues_link">Venues </a>
